# Server
PORT=3000
NODE_ENV=development

# MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Pass@123
DB_NAME=music_database

# JWT
JWT_SECRET=mySuperSecretKey
JWT_EXPIRE=7d

# Default Admin
ADMIN_EMAIL=admin@music.com
ADMIN_PASSWORD=admin123

# Email OTP
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
MAIL_FROM="Music Backend" <your_email@gmail.com>

# AWS S3 Storage
AWS_REGION=your_aws_region
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_S3_BUCKET_NAME=your_s3_bucket_name
